@mixin triangle {
  &::before {
    position: absolute;
    top: calc(100% + 2px);
    left: calc(50% - 10px);
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid $secondary;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}